[submodule "node_modules/semver"]
	path = node_modules/semver
	url = git://github.com/isaacs/node-semver.git
[submodule "node_modules/abbrev"]
	path = node_modules/abbrev
	url = git://github.com/isaacs/abbrev-js.git
[submodule "node_modules/nopt"]
	path = node_modules/nopt
	url = git://github.com/isaacs/nopt.git
[submodule "node_modules/node-uuid"]
	path = node_modules/node-uuid
	url = http://github.com/broofa/node-uuid
