*.swp
npm-debug.log
/test/bin
/test/output.log
/test/*/*/node_modules
/test/packages/npm-test-depends-on-spark/which-spark.log
/test/packages/test-package/random-data.txt
/test/root
/node_modules/.bin
/html/doc/
/man/
/doc/*/npm-index.md
/npmrc
/release/
/npm-*.tgz
/node_modules/npm-registry-client/test/fixtures
/test/fixtures/config/userconfig-with-gc
/node_modules/npm-registry-couchapp
*.pyc
.jshintrc
.eslintrc

# dev dependencies
/node_modules/deep-equal/
/node_modules/marked/
/node_modules/marked-man/
/node_modules/nock/
/node_modules/npm-registry-couchapp/
/node_modules/npm-registry-mock/
/node_modules/readable-stream/
/node_modules/require-inject/
/node_modules/sprintf-js/
/node_modules/standard/
/node_modules/tap/

# required by standard
/node_modules/acorn/
/node_modules/align-text/
/node_modules/alter/
/node_modules/amdefine/
/node_modules/ansi-styles/
/node_modules/argparse/
/node_modules/array-union/
/node_modules/array-uniq/
/node_modules/arrify/
/node_modules/ast-traverse/
/node_modules/ast-types/
/node_modules/async/
/node_modules/babel-core/
/node_modules/babel-plugin-constant-folding/
/node_modules/babel-plugin-dead-code-elimination/
/node_modules/babel-plugin-eval/
/node_modules/babel-plugin-inline-environment-variables/
/node_modules/babel-plugin-jscript/
/node_modules/babel-plugin-member-expression-literals/
/node_modules/babel-plugin-property-literals/
/node_modules/babel-plugin-proto-to-assign/
/node_modules/babel-plugin-react-constant-elements/
/node_modules/babel-plugin-react-display-name/
/node_modules/babel-plugin-remove-console/
/node_modules/babel-plugin-remove-debugger/
/node_modules/babel-plugin-runtime/
/node_modules/babel-plugin-undeclared-variables-check/
/node_modules/babel-plugin-undefined-to-void/
/node_modules/babylon/
/node_modules/balanced-match/
/node_modules/bluebird/
/node_modules/brace-expansion/
/node_modules/breakable/
/node_modules/camelcase/
/node_modules/center-align/
/node_modules/chalk/
/node_modules/cli-width/
/node_modules/cliui/
/node_modules/clone/
/node_modules/commander/
/node_modules/commoner/
/node_modules/concat-map/
/node_modules/concat-stream/
/node_modules/convert-source-map/
/node_modules/core-js/
/node_modules/core-util-is/
/node_modules/d/
/node_modules/debug-log/
/node_modules/debug/
/node_modules/decamelize/
/node_modules/deep-is/
/node_modules/defaults/
/node_modules/defs/
/node_modules/deglob/
/node_modules/del/
/node_modules/detect-indent/
/node_modules/diff/
/node_modules/disparity/
/node_modules/doctrine/
/node_modules/es5-ext/
/node_modules/es6-iterator/
/node_modules/es6-map/
/node_modules/es6-set/
/node_modules/es6-symbol/
/node_modules/es6-weak-map/
/node_modules/escape-string-regexp/
/node_modules/escope/
/node_modules/esformatter-eol-last/
/node_modules/esformatter-ignore/
/node_modules/esformatter-jsx/
/node_modules/esformatter-literal-notation/
/node_modules/esformatter-quotes/
/node_modules/esformatter-semicolon-first/
/node_modules/esformatter-spaced-lined-comment/
/node_modules/esformatter/
/node_modules/eslint-config-standard-react/
/node_modules/eslint-config-standard/
/node_modules/eslint-plugin-react/
/node_modules/eslint-plugin-standard/
/node_modules/eslint/
/node_modules/espree/
/node_modules/esrecurse/
/node_modules/estraverse-fb/
/node_modules/estraverse/
/node_modules/esutils/
/node_modules/event-emitter/
/node_modules/extend/
/node_modules/falafel/
/node_modules/fast-levenshtein/
/node_modules/figures/
/node_modules/file-entry-cache/
/node_modules/find-root/
/node_modules/flat-cache/
/node_modules/foreach/
/node_modules/fs-readdir-recursive/
/node_modules/generate-function/
/node_modules/generate-object-property/
/node_modules/get-stdin/
/node_modules/globals/
/node_modules/globby/
/node_modules/handlebars/
/node_modules/has-ansi/
/node_modules/home-or-tmp/
/node_modules/iconv-lite/
/node_modules/ignore/
/node_modules/inquirer/
/node_modules/install/
/node_modules/invert-kv/
/node_modules/is-buffer/
/node_modules/is-finite/
/node_modules/is-integer/
/node_modules/is-my-json-valid/
/node_modules/is-path-cwd/
/node_modules/is-path-in-cwd/
/node_modules/is-path-inside/
/node_modules/is-property/
/node_modules/is-resolvable/
/node_modules/isarray/
/node_modules/js-beautify/
/node_modules/js-tokens/
/node_modules/js-yaml/
/node_modules/jsesc/
/node_modules/json-stable-stringify/
/node_modules/json5/
/node_modules/jsonify/
/node_modules/jsonpointer/
/node_modules/kind-of/
/node_modules/lcid/
/node_modules/left-pad/
/node_modules/leven/
/node_modules/levn/
/node_modules/line-numbers/
/node_modules/lodash._arraycopy/
/node_modules/lodash._arrayeach/
/node_modules/lodash._arraymap/
/node_modules/lodash._basecopy/
/node_modules/lodash._basedifference/
/node_modules/lodash._baseflatten/
/node_modules/lodash._basefor/
/node_modules/lodash._createassigner/
/node_modules/lodash._isiterateecall/
/node_modules/lodash._pickbyarray/
/node_modules/lodash._pickbycallback/
/node_modules/lodash.isplainobject/
/node_modules/lodash.istypedarray/
/node_modules/lodash.keysin/
/node_modules/lodash.merge/
/node_modules/lodash.omit/
/node_modules/lodash.toplainobject/
/node_modules/lodash/
/node_modules/longest/
/node_modules/lru-cache/
/node_modules/minimatch/
/node_modules/minimist/
/node_modules/mout/
/node_modules/ms/
/node_modules/multiline/
/node_modules/mute-stream/
/node_modules/npm-path/
/node_modules/npm-run/
/node_modules/number-is-nan/
/node_modules/object-assign/
/node_modules/object-keys/
/node_modules/optimist/
/node_modules/optionator/
/node_modules/os-homedir/
/node_modules/os-locale/
/node_modules/os-tmpdir/
/node_modules/output-file-sync/
/node_modules/path-exists/
/node_modules/path-is-absolute/
/node_modules/path/
/node_modules/pify/
/node_modules/pinkie-promise/
/node_modules/pinkie/
/node_modules/pkg-config/
/node_modules/prelude-ls/
/node_modules/private/
/node_modules/process-nextick-args/
/node_modules/protochain/
/node_modules/q/
/node_modules/read-json-sync/
/node_modules/readline2/
/node_modules/recast/
/node_modules/regenerate/
/node_modules/regenerator/
/node_modules/regexpu/
/node_modules/regjsgen/
/node_modules/regjsparser/
/node_modules/repeat-string/
/node_modules/repeating/
/node_modules/resolve/
/node_modules/right-align/
/node_modules/rocambole-indent/
/node_modules/rocambole-linebreak/
/node_modules/rocambole-node/
/node_modules/rocambole-token/
/node_modules/rocambole-whitespace/
/node_modules/rocambole/
/node_modules/run-async/
/node_modules/run-parallel/
/node_modules/rx-lite/
/node_modules/serializerr/
/node_modules/shebang-regex/
/node_modules/shelljs/
/node_modules/sigmund/
/node_modules/simple-fmt/
/node_modules/simple-is/
/node_modules/slash/
/node_modules/source-map-support/
/node_modules/source-map/
/node_modules/stable/
/node_modules/standard-engine/
/node_modules/standard-format/
/node_modules/stdin/
/node_modules/string.prototype.endswith/
/node_modules/string_decoder/
/node_modules/stringmap/
/node_modules/stringset/
/node_modules/strip-indent/
/node_modules/strip-json-comments/
/node_modules/supports-color/
/node_modules/sync-exec/
/node_modules/through/
/node_modules/to-double-quotes/
/node_modules/to-fast-properties/
/node_modules/to-single-quotes/
/node_modules/trim-right/
/node_modules/try-resolve/
/node_modules/tryit/
/node_modules/tryor/
/node_modules/type-check/
/node_modules/typedarray/
/node_modules/uglify-js/
/node_modules/uglify-to-browserify/
/node_modules/uniq/
/node_modules/user-home/
/node_modules/util-deprecate/
/node_modules/window-size/
/node_modules/wordwrap/
/node_modules/write/
/node_modules/xml-escape/
/node_modules/xtend/
/node_modules/y18n/
/node_modules/yargs/

# required by nock
/node_modules/assertion-error/
/node_modules/chai/
/node_modules/core-util-is/
/node_modules/debug/
/node_modules/deep-eql/
/node_modules/isarray/
/node_modules/lodash/
/node_modules/ms/
/node_modules/process-nextick-args/
/node_modules/propagate/
/node_modules/string_decoder/
/node_modules/type-detect/
/node_modules/util-deprecate/

# required by npm-registry-couchapp
/node_modules/ansi-styles/
/node_modules/asn1/
/node_modules/assert-plus/
/node_modules/async/
/node_modules/aws-sign2/
/node_modules/bl/
/node_modules/bluebird/
/node_modules/boom/
/node_modules/browser-request/
/node_modules/caseless/
/node_modules/chalk/
/node_modules/coffee-script/
/node_modules/colors/
/node_modules/combined-stream/
/node_modules/commander/
/node_modules/connect/
/node_modules/core-util-is/
/node_modules/couchapp/
/node_modules/cryptiles/
/node_modules/ctype/
/node_modules/debug/
/node_modules/delayed-stream/
/node_modules/ee-first/
/node_modules/errs/
/node_modules/escape-html/
/node_modules/escape-string-regexp/
/node_modules/finalhandler/
/node_modules/follow/
/node_modules/forever-agent/
/node_modules/form-data/
/node_modules/generate-function/
/node_modules/generate-object-property/
/node_modules/graceful-readlink/
/node_modules/har-validator/
/node_modules/has-ansi/
/node_modules/hawk/
/node_modules/hoek/
/node_modules/http-proxy/
/node_modules/http-signature/
/node_modules/is-my-json-valid/
/node_modules/is-property/
/node_modules/isarray/
/node_modules/isstream/
/node_modules/json-stringify-safe/
/node_modules/json/
/node_modules/jsonpointer/
/node_modules/mime-db/
/node_modules/mime-types/
/node_modules/ms/
/node_modules/nano/
/node_modules/node-uuid/
/node_modules/oauth-sign/
/node_modules/on-finished/
/node_modules/optimist/
/node_modules/parseurl/
/node_modules/pkginfo/
/node_modules/process-nextick-args/
/node_modules/punycode/
/node_modules/qs/
/node_modules/querystring/
/node_modules/sntp/
/node_modules/string_decoder/
/node_modules/stringstream/
/node_modules/supports-color/
/node_modules/tough-cookie/
/node_modules/tunnel-agent/
/node_modules/underscore/
/node_modules/url/
/node_modules/util-deprecate/
/node_modules/utils-merge/
/node_modules/watch/
/node_modules/wordwrap/
/node_modules/xtend/

# required by npm-registry-mock
/node_modules/core-util-is/
/node_modules/hock/
/node_modules/isarray/
/node_modules/process-nextick-args/
/node_modules/string_decoder/
/node_modules/util-deprecate/
/node_modules/util-extend/

# required by tap
/node_modules/align-text/
/node_modules/amdefine/
/node_modules/ansi-styles/
/node_modules/argparse/
/node_modules/asn1/
/node_modules/assert-plus/
/node_modules/async/
/node_modules/aws-sign2/
/node_modules/balanced-match/
/node_modules/boom/
/node_modules/brace-expansion/
/node_modules/camelcase/
/node_modules/center-align/
/node_modules/chalk/
/node_modules/cliui/
/node_modules/code-point-at/
/node_modules/combined-stream/
/node_modules/concat-map/
/node_modules/core-util-is/
/node_modules/coveralls/
/node_modules/cryptiles/
/node_modules/ctype/
/node_modules/debug/
/node_modules/decamelize/
/node_modules/deep-is/
/node_modules/deeper/
/node_modules/delayed-stream/
/node_modules/diff/
/node_modules/escape-string-regexp/
/node_modules/escodegen/
/node_modules/esprima/
/node_modules/estraverse/
/node_modules/esutils/
/node_modules/events-to-array/
/node_modules/fast-levenshtein/
/node_modules/fileset/
/node_modules/foreground-child/
/node_modules/forever-agent/
/node_modules/form-data/
/node_modules/handlebars/
/node_modules/has-ansi/
/node_modules/has-flag/
/node_modules/hawk/
/node_modules/hoek/
/node_modules/http-signature/
/node_modules/invert-kv/
/node_modules/is-buffer/
/node_modules/is-fullwidth-code-point/
/node_modules/is-utf8/
/node_modules/isarray/
/node_modules/istanbul/
/node_modules/js-yaml/
/node_modules/json-stringify-safe/
/node_modules/kind-of/
/node_modules/lcid/
/node_modules/lcov-parse/
/node_modules/levn/
/node_modules/lodash/
/node_modules/log-driver/
/node_modules/longest/
/node_modules/mime-types/
/node_modules/mime/
/node_modules/minimatch/
/node_modules/minimist/
/node_modules/ms/
/node_modules/node-uuid/
/node_modules/nyc/
/node_modules/oauth-sign/
/node_modules/only-shallow/
/node_modules/optimist/
/node_modules/optionator/
/node_modules/os-locale/
/node_modules/prelude-ls/
/node_modules/process-nextick-args/
/node_modules/punycode/
/node_modules/qs/
/node_modules/repeat-string/
/node_modules/resolve/
/node_modules/right-align/
/node_modules/signal-exit/
/node_modules/sntp/
/node_modules/source-map/
/node_modules/string-width/
/node_modules/string_decoder/
/node_modules/stringstream/
/node_modules/strip-bom/
/node_modules/supports-color/
/node_modules/tap-mocha-reporter/
/node_modules/tap-parser/
/node_modules/tmatch/
/node_modules/tough-cookie/
/node_modules/tunnel-agent/
/node_modules/type-check/
/node_modules/uglify-js/
/node_modules/uglify-to-browserify/
/node_modules/underscore.string/
/node_modules/underscore/
/node_modules/unicode-length/
/node_modules/util-deprecate/
/node_modules/wrap-ansi/
/node_modules/win-spawn/
/node_modules/window-size/
/node_modules/wordwrap/
/node_modules/y18n/
/node_modules/yargs/
