*.swp
npm-debug.log
/test/bin
/test/output.log
/test/*/*/node_modules
/test/packages/npm-test-depends-on-spark/which-spark.log
/test/packages/test-package/random-data.txt
/test/root
/node_modules/.bin
/html/doc/
/man/
/doc/*/npm-index.md
/npmrc
/release/
/npm-*.tgz
/node_modules/npm-registry-client/test/fixtures
/test/fixtures/config/userconfig-with-gc
/node_modules/npm-registry-couchapp
*.pyc
.jshintrc
.eslintrc

# dev dependencies
/node_modules/deep-equal/
/node_modules/deeper/
/node_modules/marked-man/
/node_modules/marked/
/node_modules/nock/
/node_modules/npm-registry-couchapp/
/node_modules/npm-registry-mock/
/node_modules/only-shallow/
/node_modules/require-inject/
/node_modules/sprintf-js/
/node_modules/tap/
/node_modules/standard/

# dev dependency subdeps

# nock
/node_modules/chai/
/node_modules/assertion-error/
/node_modules/deep-eql/
/node_modules/type-detect/
/node_modules/lodash/
/node_modules/propagate/

# npm-registry-mock
/node_modules/hock/

# npm-registry-couchapp
/node_modules/coffee-script/
/node_modules/colors/
/node_modules/connect/
/node_modules/couchapp/
/node_modules/ee-first/
/node_modules/errs/
/node_modules/escape-html/
/node_modules/finalhandler/
/node_modules/follow/
/node_modules/http-proxy/
/node_modules/json/
/node_modules/nano/
/node_modules/on-finished/
/node_modules/parseurl/
/node_modules/pkginfo/
/node_modules/punycode/
/node_modules/querystring/
/node_modules/url/
/node_modules/utils-merge/
/node_modules/watch/

# tap
/node_modules/align-text/
/node_modules/amdefine/
/node_modules/argparse/
/node_modules/browser-request/
/node_modules/buffer-equal/
/node_modules/camelcase/
/node_modules/center-align/
/node_modules/cliui/
/node_modules/coveralls/
/node_modules/decamelize/
/node_modules/deep-is/
/node_modules/diff/
/node_modules/escodegen/
/node_modules/esprima/
/node_modules/estraverse/
/node_modules/esutils/
/node_modules/events-to-array/
/node_modules/exec-file-sync/
/node_modules/fast-levenshtein/
/node_modules/fileset/
/node_modules/first-chunk-stream/
/node_modules/foreground-child/
/node_modules/handlebars/
/node_modules/invert-kv/
/node_modules/is-buffer/
/node_modules/is-obj/
/node_modules/is-utf8/
/node_modules/istanbul/
/node_modules/js-yaml/
/node_modules/kind-of/
/node_modules/lcid/
/node_modules/lcov-parse/
/node_modules/levn/
/node_modules/log-driver/
/node_modules/longest/
/node_modules/mime/
/node_modules/nyc/
/node_modules/optimist/
/node_modules/optionator/
/node_modules/os-locale/
/node_modules/os-shim/
/node_modules/prelude-ls/
/node_modules/repeat-string/
/node_modules/resolve/
/node_modules/right-align/
/node_modules/signal-exit/
/node_modules/source-map/
/node_modules/spawn-sync/
/node_modules/spawn-wrap/
/node_modules/strip-bom/
/node_modules/tap-mocha-reporter/
/node_modules/tap-parser/
/node_modules/type-check/
/node_modules/uglify-js/
/node_modules/underscore.string/
/node_modules/underscore/
/node_modules/unicode-length/
/node_modules/win-spawn/
/node_modules/window-size/
/node_modules/wordwrap/
/node_modules/yargs/
/node_modules/y18n/

# standard
/node_modules/cli-width/
/node_modules/d/
/node_modules/debug-log/
/node_modules/deglob
/node_modules/disparity/
/node_modules/doctrine/
/node_modules/es5-ext/
/node_modules/es6-iterator/
/node_modules/es6-map/
/node_modules/es6-set/
/node_modules/es6-symbol/
/node_modules/es6-weak-map/
/node_modules/escope/
/node_modules/esformatter-eol-last/
/node_modules/esformatter-literal-notation/
/node_modules/esformatter-quotes/
/node_modules/esformatter-semicolon-first/
/node_modules/esformatter-spaced-lined-comment/
/node_modules/esformatter/
/node_modules/esformatter-jsx/
/node_modules/eslint-config-standard-react/
/node_modules/eslint-config-standard/
/node_modules/eslint-plugin-react/
/node_modules/eslint/
/node_modules/espree/
/node_modules/esrecurse/
/node_modules/estraverse-fb/
/node_modules/event-emitter/
/node_modules/falafel-espree
/node_modules/figures/
/node_modules/find-root/
/node_modules/get-stdin/
/node_modules/globals/
/node_modules/ignore/
/node_modules/inquirer/
/node_modules/js-beautify/
/node_modules/mout/
/node_modules/npm-path/
/node_modules/npm-run/
/node_modules/object-assign/
/node_modules/path/
/node_modules/pkg-config/
/node_modules/protochain/
/node_modules/readline2/
/node_modules/rocambole-indent/
/node_modules/rocambole-linebreak/
/node_modules/rocambole-node/
/node_modules/rocambole-token/
/node_modules/rocambole-whitespace/
/node_modules/rocambole/
/node_modules/run-parallel/
/node_modules/rx/
/node_modules/serializerr/
/node_modules/standard/
/node_modules/standard-format/
/node_modules/stdin/
/node_modules/string.prototype.endswith/
/node_modules/strip-json-comments/
/node_modules/sync-exec/
/node_modules/through/
/node_modules/uniq/
/node_modules/user-home/
/node_modules/xml-escape/
