*.swp
npm-debug.log
.nyc_output/
/test/bin
/test/output.log
/test/*/*/node_modules
/test/packages/npm-test-depends-on-spark/which-spark.log
/test/packages/test-package/random-data.txt
/test/root
/html/doc/
/man/
/doc/*/npm-index.md
/npmrc
/release/
/npm-*.tgz
/test/fixtures/config/userconfig-with-gc
*.pyc
.jshintrc
.eslintrc
.nyc_output

# all n_m
/node_modules
